line-length = 100
target-version = "py39"
exclude = ["**/__init__.py", "alembic/", "tests/"]

[lint]
select = [
  "E",
  "F",
  "I",
  "B",
  "UP",
]
ignore = [
  "E501",
  "B008",
]

[format]
quote-style = "double"
indent-style = "space"
