{% extends "base_email.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Reset Your Password</h2>
    </div>
    
    <p>Hi {{ first_name }},</p>
    <p>You requested a password reset for your Sitelytics account. Use the code below to create a new password.</p>
    
    <div class="text-center">
        <div class="code-box">
            <span class="code-box-span">
                {{ otp_code }}
            </span>
        </div>
        <p class="text-warning">Enter this code on the reset page</p>
    </div>

    <p style="font-size: 14px; margin-top: 30px;">
        If you didn't ask to reset your password, you can safely ignore this email.
    </p>

    <p>Thanks,<br>The Sitelytics Team</p>
{% endblock %}