name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev
      - staging
  workflow_dispatch:

concurrency:
  group: tests
  cancel-in-progress: true

jobs:
  tests:
    runs-on: self-hosted
    env:
      DATABASE_URL: ${{ secrets.STAGING_DB_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python with uv
        uses: astral-sh/setup-uv@v2
        with:
          python-version: "3.12"

      - name: Set up Python 3.12 and dependencies
        run: |
          sudo apt install libpq-dev -y
          sudo apt install python3.12-venv -y
          sudo apt install postgresql postgresql-contrib -y
          sudo systemctl start postgresql
          sudo systemctl enable postgresql 
          python3.12 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip

      - name: Install dependencies
        run: |
          source venv/bin/activate
          uv sync

      - name: Run tests
        run: |
          source venv/bin/activate
          uv run pytest

      - name: Generate migration revision
        run: |
          source venv/bin/activate
          rm -rf alembic/versions/*
          mkdir -p alembic/versions
          uv run alembic revision --autogenerate -m "ci migration test"

      - name: Run Alembic migrations
        run: |
          source venv/bin/activate
          uv run alembic upgrade head